/* Default styles */
footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    padding: var(--small-width);
    text-align: center;
    border-radius: var(--border-radius);
}

footer a {
    color: var(--link-color);
    text-decoration: none; 
}

footer a:hover {
    color: var(--link-hover-color);
    transition: color 0.3s ease;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    footer {
        padding: 10px;
    }
}
