/* Root variables for consistent theming */
:root {
    --body-bg-color: #041220;
    --header-bg-color: #576e8641;
    --nav-bg-gradient: linear-gradient(to right, #052341, #071f37);
    --footer-bg-color: #576e8641;
    --text-color: rgb(169, 169, 169);
    --link-color: blue;
    --border-color: #385c81;
    --border-radius: 5px;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}

/* General styling for the entire page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
    margin: 10px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    overflow: auto;
}

/* Heading styles */
h2 {
    font-size: 1.5em;
    color: #888787;
}

/* Main content area */
main {
    flex: 1;
}

section {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    body {
        margin: 5px;
        padding: 10px;
        touch-action: auto;
    }

    section {
        padding-left: 10px;
        padding-right: 10px;
    }
}
