/* Root variables for consistent theming */
:root {
    --body-bg-color: #1a1a1a;
    --header-bg-color: #6464643f;
    --nav-bg-gradient: linear-gradient(to right, #00000053, #15151599, #00000053);
    --footer-bg-color: #6464643f;

    --text-color: rgb(255, 255, 255);
    --link-color: rgb(0, 124, 240);
    --link-hover-color: rgb(76, 160, 240);
    
    --border-color: #676767;
    --border-radius: 2px;

    --box-shadow-color: rgba(0, 0, 0, 0.2);

    --tiny-width: 5px;
    --small-width: 10px;
    --medium-wdith: 20px;
    --large-width: 30px;
}

/* General styling for the entire page */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
    margin: var(--large-width);
    padding: var(--medium-wdith);
    font-family: 'Arial', sans-serif;
    overflow: auto;
}

/* Heading styles */
h2 {
    font-size: 1.5em;
    color: #888787;
}

/* Main content area */
#main {
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

section {
    margin: var(--tiny-width);
    border-radius: var(--border-radius);
}

/* Scrollbar styles */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #101010; 
}

body::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #acacac;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    body {
        margin: 5px;
        padding: 10px;
        touch-action: auto;
    }

    section {
        padding-left: 10px;
        padding-right: 10px;
    }
}

