/* Root variables for consistent theming */
:root {
    --body-bg-color: #041220;
    --header-bg-color: #031221;
    --nav-bg-gradient: linear-gradient(to right, #052341, #071f37);
    --footer-bg-color: #030a10;
    --text-color: rgb(169, 169, 169);
    --link-color: blue;
    --border-color: #385c81;
    --border-radius: 5px;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}

/* General styling for the entire page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
    margin: 10px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

/* Heading styles */
h2 {
    font-size: 1.5em;
    color: #888787;
}

/* Header section styles */
header {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    padding: 15px;
    text-align: center;
    position: relative;
    border-bottom: 2px solid var(--border-color);
    border-radius: var(--border-radius);
}

/* Navigation styles */
nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--nav-bg-gradient);
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    color: white;
    transition: transform 0.3s ease-in-out;
    border-right: 1px solid white; /* Add a border on the right side */
    padding-right: 10px; /* Add padding on the right side for spacing */
}

nav ul li:last-child {
    border-right: none; /* Remove border for the last item */
}

nav ul li:hover {
    transform: translateY(-3px);
}

nav a {
    text-decoration: none;
    color: white;
}

/* Main content area */
main {
    flex: 1;
}

/* Footer styles */
footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    padding: 15px;
    text-align: center;
    border-radius: var(--border-radius);
}

footer a {
    color: var(--link-color);
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header, nav, footer {
        border-radius: 0;
    }

    nav {
        top: 0;
        position: static;
        width: 100%;
        text-align: center;
        box-shadow: none;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
        color: white;
        transform: none;
        transition: none;
    }

    footer a {
        color: var(--link-color);
    }
}
