/* Header section styles */
header {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    text-align: center;
    vertical-align: middle;
    position: relative;
    border-radius: var(--border-radius);
    padding-top: var(--tiny-width);
}

/* Navigation styles */
nav {
    background: var(--nav-bg-gradient);
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
    color: white;
    position: relative;
}

nav ul li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

nav ul li:hover::after {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    nav {
        position: static;
        width: 100%;
        box-sizing: border-box;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    nav ul li::after {
        content: none; /* Remove underline for small screens */
    }
}
