/* Header section styles */
header {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    padding: 15px;
    text-align: center;
    position: relative;
    border-bottom: 2px solid var(--border-color);
    border-radius: var(--border-radius);
}

/* Navigation styles */
nav {
    background: var(--nav-bg-gradient);
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
    color: white;
    transition: transform 0.3s ease-in-out;
    border-bottom: 1px solid white; 
    padding-bottom: 5px; 
}

nav ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

nav ul li:hover {
    transform: translateY(-3px);
}

nav a {
    text-decoration: none;
    color: white;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    nav {
        position: static;
        width: 100%;
        box-sizing: border-box;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
        border-bottom: 1px solid white;
    }
}
