section {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.status-bars {
    display: flex;
    background-color: var(--border-color);
    padding: 10px;
}

.status-bar {
    flex: 1;
    height: 20px;
    margin-right: 2px;
    position: relative;
    height: 30px;
}

.orange-bar {
    background-color: #ff9d00;
}

.green-bar {
    background-color: #00FF00;
}

.grey-bar {
    background-color: #D3D3D3;
}

.info-box {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #888787;
    border-radius: 2px;
    z-index: 1;
    max-width: 300px;
    word-wrap: normal;
}