section {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.status-bars {
    display: flex;
    background-color: var(--border-color);
    padding: 10px;
}

.status-bar {
    flex: 1;
    height: 20px;
    margin-right: 2px;
    position: relative;
    height: 30px;
}

.orange-bar {
    background-color: #ff9d00;
}

.green-bar {
    background-color: #00FF00;
}

.grey-bar {
    background-color: #D3D3D3;
}

.yellow-bar {
    background-color: #caed05;
}

.info-box {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #888787;
    border-radius: 5px;
    z-index: 1;
    max-width: 300px;
    word-wrap: normal;

    /* Center the info box */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* Ensure it doesn't overflow the viewport */
    max-height: calc(100vh - 20px);
    max-width: calc(100vw - 20px);
    overflow: auto;

    /* Adjust position dynamically based on box dimensions */
    left: calc(min(100vw - 20px - 300px, max(20px, var(--cursor-x) - 150px)));
}